html,body,.wrap{
    height:100%;
    overflow: hidden;
}
.wrap{
    position:relative;
}
/* 共用代码 */
.wrap .loading,.wrap .phone{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    display:none;
}
.wrap .loading{
    background:#000;
    color:#fff;
    font-size:0.24rem;
    text-align: center;
}
.wrap .loading h3{
    margin-top:2rem;
    font-size:0.5rem;
    font-weight: normal;
    letter-spacing: 0.03rem;
}
.wrap .loading h5{
    letter-spacing: 0.03rem;
    font-size:0.28rem;
    font-weight: normal;
    margin-top:0.3rem;
}
.loading .progressBox{
    width:80%;
    height:0.4rem;
    margin:1rem auto;
    background:#fff;
    position:relative;
    
}
.loading .progressIn{
    position: absolute;
    left:0;
    top:0;
    width:0%;
    height:100%;
    background:-webkit-linear-gradient(left top,
     #77c570 0%,#77c570 25%,
     #6faa6d 25%,#6faa6d 50%,
     #77c570 50%,#77c570 75%,
     #6faa6d 75%,#6faa6d 100%
     );
     background:linear-gradient(left top,
     #77c570 0%,#77c570 25%,
     #6faa6d 25%,#6faa6d 50%,
     #77c570 50%,#77c570 75%,
     #6faa6d 75%,#6faa6d 100%
     );
     background-size:0.4rem 0.4rem;
     animation: loading 0.5s linear infinite;
     transition:width 0.5s linear;
}
@keyframes loading{
    0%{
        background-position: 0 -0rem;
    }
    100%{
        background-position: 0 0.4rem;
    }
}

/* phone */
.wrap .phone{
   display:block;
   background:url("../images/phone-bg.jpg") center center no-repeat;
   background-size:cover;
   color:#fff;
   text-align: center;

}
.phone h3{
  font-size:0.5rem;
  margin-top:1rem;
  font-weight: normal;
  letter-spacing: 0.02rem;
}
.phone h5{
    font-size:0.32rem;
    font-weight: normal;
    margin-top:0.5rem;
    margin-bottom:0.5rem;
    letter-spacing: 0.02rem;
}
.phone .time{
    letter-spacing: 0.03rem;
    display:none;
}
.listenWrap{
    width: 5.2rem;
    height: 3.6rem;
    position:absolute;
    bottom:1rem;
    left:50%;
    transform: translateX(-50%);
}
.listenWrap img{
    width:100%;
    height:100%;
    position: relative;

}
.telMark{
    width: 1.7rem;
    height: 1.7rem;
    /* background:red; */
    position: absolute;
    right: -0.12rem;
    bottom: 0.4rem;
}
.telWave{
    position:absolute;
    width: 1.7rem;
    height: 1.7rem;
    position: absolute;
    right: -0.12rem;
    bottom: 0.4rem;
    border:1px solid #4cd864;
    border-radius: 50%;
    animation: wave 1s linear infinite;
}

.answerWrap{
    width:5.2rem;
    height:6.59rem;
    position: absolute;
    bottom:0;
    left:50%;
    transform: translate(-50%,7rem);
    display:none;
    transition: all 0.5s linear;
}
.answerWrap img{
    width:100%;
    height:100%;
}
.redMark{
    position:absolute;
    width: 1.7rem;
    height: 1.7rem;
    bottom:0.3rem;
    left:50%;
    transform: translateX(-50%);
}
@keyframes wave{
    0%{
      transform: scale(0);
      opacity: 0;
    }
    50%{
        transform: scale(1.2);
        opacity: 1;
    }
    100%{
        transform: scale(0);
        opacity: 0;
    }
}