.md{
    margin:0 auto;
    height: 460px;
}

.bannerWrap{
    width: 1226px;
    /* 参照物 */
    position:relative;
}
img{
    width:1226px;
    height: 460px;
}
.bannerBar{
   position:absolute;
   left:0;
   top:0;
   width: 234px;
   height:100%;
   background: rgba(105,101,101,.6);
   padding:20px 0;
   box-sizing: border-box;
   font-size: 14px;
}


.bannerBar li{
    text-indent: 30px;
    height: 42px;
    line-height: 42px;
    background:url("../images/arrow.png") 200px center no-repeat;
}
.bannerBar li>a{
    display:block;
    height:100%;
    color:#fff;

}
.bannerBar li:hover{
    background-color:darkorange;
}

.leftArrow,.rightArrow{
    width: 41px;
    height: 69px;
    background:pink;
    position: absolute;
    top:50%;
    margin-top:-35px;
    background:url("../images/icon-slides.png") no-repeat;
}
.leftArrow{
    left:234px;
    background-position: -84px 0;
}
.leftArrow:hover{
   
    background-position: 0 0;
}
.rightArrow{
    right:0;
    background-position: -126px 0;
}
.rightArrow:hover{
   
    background-position: -42px 0;
}

.bannerWrap ol{
    width: 150px;
    height: 30px;
    position: absolute;
    right:15px;
    bottom:17px;
    /* background:pink; */
}
.bannerWrap ol li{
    width:10px;
    height: 10px;
    background:gray;
    border:2px solid red;
    float:left;
    border-radius: 50%;
    margin-left:10px;
}
.bannerWrap ol li:hover{
    background:#fff;
}